/*@import url(http://fonts.googleapis.com/css?family=Paytone+One|Raleway:100);*/

@import url(http://fonts.googleapis.com/css?family=Paytone+One|Merriweather:400,300,700,900);

/*
font-family: 'Paytone One', sans-serif;
font-family: 'Raleway', cursive;
*/

/* Colors RGBA

229,252,194
157,224,173
69,173,168
84,121,128
89,79,79

*/

body {
	background: #E5FCC2;
	font-family: 'Merriweather', cursive;Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: #ffffff;
}

h1 {
	font-size: 7em;
	font-weight: 1000;
	margin: 0;
	font-family: "museo-slab",serif;
	text-transform: uppercase;
	text-shadow: 1px 5px 0 #5A4F50;
	line-height: 1;
}

h3 {
	font-size: 3.25em;
	font-weight: normal;
	margin: 0;
	/*text-shadow: 0 2px 1px #000;*/
}

h3 small  {
	font-size: 0.4em;
}

p {
	width: 80%;
	margin: 20px auto;
	font-size: 1.15em;
	/*text-shadow: 0 2px 1px #000;*/
}

a, a:visited {
	color: #A8DCD9;
	font-weight: bold;
	font-style: italic;
}


/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0; padding: 0;
	width: 100%;
	min-height: 400px;
	overflow: hidden;
}

#intro {
    padding: 160px 0;
    position: relative;
    z-index: 101;
}

#about {
	background: #9DE0AD;
	margin: 80px 0 0 0;
    padding: 320px 0 200px 0;
	top: 0;
    position: relative;
    z-index: 102;
}

#why {
	background: #45ADA8;
    padding: 260px 0;
    top: 0;
    z-index: 103;
}


#list {
	background: #547980;
    padding: 300px 0 200px 0;
    top: 0;
    z-index: 104;
}

#build {
	background: #594F4F;
    padding: 300px 0 200px 0;
    top: 0;
    z-index: 105;
}

#close {
	background: #3F3D3E;
	padding: 300px 0 100px 0;
}

#intro h1 {
	margin: 0 auto;
	line-height: 110px;
	color: #43ADA8;
	font-family: "museo-slab",serif;
}

#about {
	color: #5A4F50;
}
.line1 {
	clear: both; display: block;
	font-size: 2.4em;
}
.line2 {
	clear: both; display: block;
	font-size: 1.075em;
	line-height: 1.5;
    padding: 20px 0 0;
    font-weight: 500;
}
.line3 {
	clear: both; display: block;
	font-size: 1.75em;
}

#build h1 {
	font-size: 4em;
	text-shadow: none;
	line-height: 3em;
}

#about h3, #why h3, #list h3, #close h3  {
	width: 65%;
	margin: 0 auto;
	line-height: 60px;
}

#close h1 {
	margin: 100px 0;
}

#close h3 {
	font-size: 2.5em;
}

.colophon, .colophon a {
	margin: 250px auto 0 auto;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	font-size: .875em;
	color: #A8DCD9;
}

#console {
	display: none;
	position: fixed;
	top: 0;
	left: 15px;
	width: 500px;
	margin: 0;
	font-size: 14px;
	font-style: italic;
	background-color: #69697A;
	text-shadow: none;
	text-align: left;
	padding: 3px 10px;
	border-radius: 0 0 10px 10px;
	z-index: 99;
	opacity: .8;
}




